#menu {
  background: #333;
  .menu-container {
    padding: 20px;
    i {
      color: white;
      font-size: 40px;
      transition: 100ms ease-in-out;

      &:active {
        color: #aaa;
      }
    }
  }
}
