#about-us {
  width: 100%;
  position: relative;
  z-index: 1;
  .about-us-container {
    margin: 180px auto 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title-container {
      width: 80%;
      margin: 0 auto 0 auto;
      h2 {
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-size: 30px;
        margin: 20px auto;
        text-align: center;
        @media (min-width: 768px) {
          font-size: 40px;
        }
        i {
          color: #27b815;
        }
      }
    }

    .coding-gif-container {
      margin-top: 20px;
      img {
        width: 90%;
        display: block;
        margin: 0 auto;
        -webkit-filter: drop-shadow(3px 3px 3px #222222);
        filter: drop-shadow(3px 3px 3px #222222);

        @media (min-width: 768px) {
          width: 50%;
        }
      }
    }
  }
}
