<div id="hero">
  <div class="hero-background-container">
    <img class="hero-background" src="../../../assets/hero-background.png" alt="Hero Background" />
  </div>
  <div class="blobs-container enable-fade-in-5">
    <img src="../../../assets/blobs.png" alt="Blobs" />
  </div>
  <div class="hero-container cap-width">
    <div class="info-container">
      <div class="title-container enable-fade-in-1">
        <img src="../../../assets/logo_white_text.png" alt="logo">
      </div>
      <div class="sub-text-container enable-fade-in-2">
        <p>Really Good Software LLC is a company that prides itself on providing the best web solutions possible to small and medium sized businesses, as well as churning out our own innovative software to the marketplace.</p>
      </div>
      <div class="call-to-action-container desktop enable-fade-in-3">
        <button (click)="onClick()">Learn More</button>
      </div>
    </div>
    <div class="image-container enable-fade-in-4">
      <img src="../../../assets/reallygoodsoftwarellc-hero-art.png" alt="Web Art" />
    </div>
  </div>
</div>
