#hero {
  position: relative;
  background: #555;
  padding-top: 60px;

  .hero-container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 120px;
    @media (min-width: 768px) {
      padding-bottom: 30px;
    }

    @media (min-width: 768px) {
      flex-direction: row;
    }
    .info-container {
      width: 100%;

      @media (min-width: 768px) {
        margin-left: 10%;
        width: 50%;
      }

      .title-container {
        img {
          width: 100%;
        }
        h1 {
          width: 90%;
          margin: 0 auto;
          color: #eee;
          font-family: 'Abril Fatface', sans-serif;
          font-weight: lighter;
          font-size: 50px;
          text-align: center;
          @media (min-width: 768px) {
            font-size: 70px;
            text-align: left;
          }
        }
      }
      .sub-text-container {
        margin: 15px auto;
        p {
          color: #aaa;
          font-family: 'Roboto', sans-serif;
          font-size: 20px;
          font-weight: lighter;
          text-align: center;
          width: 80%;
          margin: 0 auto;
          @media (min-width: 768px) {
            text-align: left;
            font-size: 25px;
          }
        }
      }
    }
    .image-container {
      width: 100%;
      margin: 0 auto;
      position: relative;
      @media (min-width: 768px) {
        width: 50%;
      }

      img {
        position: absolute;
        width: 90%;
        margin: 0 auto;
        left: 0;
        right: 0;
        @media (min-width: 768px) {
          top: -100px;
          width: 110%;
          max-width: 1000px;
        }
      }
    }
    .call-to-action-container {
      margin-top: 25px;
      button {
        outline: none;
        background: #27b815;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        border: none;
        border-radius: 35px;
        padding: 20px 50px;
        max-width: 500px;
        width: 70%;
        cursor: pointer;
        transition: 100ms ease-in-out;
        -webkit-tap-highlight-color: #00000000;
        &:hover {
          background: darken(#27b815, 10%);
        }
      }
      &.desktop {
        margin: 40px auto;
        text-align: center;
        @media (min-width: 768px) {
          text-align: left;
          //margin: 100px 0 0 5%;
        }
      }
    }
  }
}
