<div id="hero" class="pre-scroll-vh">
  <div class="hero-container">
    <div class="info-container">
      <div class="title-container">
        <h1>Really Good Software LLC</h1>
      </div>
      <div class="sub-text-container">
        <p>Modern web solutions for the modern business.</p>
      </div>
      <div class="call-to-action-container desktop">
        <button>What do we do?</button>
      </div>
    </div>
    <div class="image-container">
      <img src="../../../assets/reallygoodsoftwarellc-hero-art.png" alt="Web Art" />
    </div>
    <div class="call-to-action-container mobile">
      <button>What do we do?</button>
    </div>
  </div>
</div>
