@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto&family=Pompiere&display=swap');

/* You can add global styles to this file, and also import other style files */
html, body {
  padding: 0;
  margin: 0;
  background: #eee;
}

.cap-width {
  max-width: 1200px;
  margin: 0 auto;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    top: -20px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
