<div id="our-mission">
  <div class="blobs">
    <div class="blob"></div>
    <div class="blob"></div>
    <div class="blob"></div>
  </div>
  <div class="our-mission-container cap-width">
    <div class="title-container">
      <h2>Our Mission:</h2>
    </div>
    <div class="mission-container">
      <p>
        <i>
          "We're in this industry because we love technology, and we'd keep doing it whether it was a hobby or a business.
          As a partner of ours, you will always see the results of passion in our finished products.
          We absolutely refuse to deliver garbage, and will only build the best product possible."
        </i>
      </p>
    </div>
    <div class="signature-container">
      <div class="text-container">
        <h3>Daniel Fullerton</h3>
        <h5><i>Founder, President</i></h5>
      </div>
      <div class="image-container">
        <img src="../../assets/headshot.png" alt="">
      </div>
    </div>
  </div>
  <div class="more-blobs">
    <div class="row">
      <div class="blob"></div>
    </div>
    <div class="row">
      <div class="blob"></div>
      <div class="blob"></div>
    </div>
    <div class="row">
      <div class="blob"></div>
      <div class="blob"></div>
      <div class="blob"></div>
    </div>
  </div>
</div>
