#our-mission {
  padding-bottom: 50px;
  background: white;
  position: relative;

  .blobs {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 0;
    top: -20px;
    margin-right: 10%;

    .blob {
      margin-left: 20px;
      width: 30px;
      height: 30px;
      border-radius: 30%;
      background: lighten(#27b815, 5%);
      border: 10px solid white;
    }
  }

  .our-mission-container {
    padding-top: 20px;

    .title-container {
      h2 {
        padding-left: 15px;
        font-family: 'Roboto',sans-serif;
        font-size: 40px;
      }
    }

    .mission-container {
      p {
        width: 90%;
        font-family: 'Roboto', sans-serif;
        margin: 0 auto;
        font-size: 15px;
        font-weight: lighter;
        @media (min-width: 768px) {
          font-size: 30px;
        }
      }
    }

    .signature-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 35px;

      .text-container {
        text-align: right;
        width: 50%;
        h3 {
          font-family: 'Roboto', sans-serif;
          font-size: 20px;
          margin: 0;
          @media (min-width: 768px) {
            font-size: 30px;
          }
        }
        h5 {
          font-size: 15px;
          font-family: 'Roboto', sans-serif;
          margin-top: 5px;
          font-weight: lighter;
          color: #888;
          @media (min-width: 768px) {
            font-size: 20px;
          }
        }
      }
      .image-container {
        text-align: center;
        width: 50%;
        img {
          width: 100px;
          border-radius: 20px;
          @media (min-width: 768px) {
            width: 200px;
            margin-left: 200px;
          }
        }
      }
    }
  }
}
